<div class="messages-wrapper" (mouseenter)="switchButtonState()" *ngFor="let message of messages">
    <div class="user">{{message.user || 'none'}}</div>
    <div class="message">{{message.message}}</div>
    <div class="buttons" *ngIf="currentUser.username === message.user && showButtons">
        <button mat-icon-button color="accent" (click)='openDialog(message)'>
          <mat-icon svgIcon="edit"></mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)=deleteMessage(message)>
          <mat-icon svgIcon="delete"></mat-icon>
        </button>
    </div>
</div>