<mat-card>
  <div>
    <form (ngSubmit)="authorisationState ? register() : login()" [formGroup]="userForm"  #f="ngForm">
      <div class="email-input">
        <mat-form-field>
          <input matInput  placeholder="Enter your email" formControlName="username" name="email">
          <mat-error *ngIf="userForm.controls['username'].hasError('required') && userForm.controls['username'].touched">
            Field is required</mat-error>
          <mat-error *ngIf="userForm.controls['username'].hasError('email') && userForm.controls['username'].dirty">
            Enter valid email</mat-error>
        </mat-form-field>
      </div>
    
      <div class="password-field">
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password" name="password" type="password">
          <mat-error *ngIf="userForm.controls['password'].invalid">Field is required</mat-error>
        </mat-form-field>
      </div>
      <div class="submit-field">
        <button mat-raised-button [disabled]="loading || !userForm.valid" color="primary">{{buttonTitle}}</button>
      </div>
    </form>
  </div>
{{userForm.controls.hasError}}
  <mat-progress-spinner
    class="spinner"
    *ngIf='loading'
    [color]="primary"
    [mode]="'indeterminate'"
    [value]="50">
  </mat-progress-spinner>
</mat-card>